<a href="https://colab.research.google.com/github/Fernando1577/Fertilizantes/blob/main/Fertlizantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fertilizantes

In [1]:
import pandas as pd 
import numpy as np

Importing the Data

In [2]:
df = pd.read_excel("Fert.xlsx" )
df_comp =df

Examining the Data

In [3]:
df_comp.head()

,Fe.contab.,Cantidad,Importe en MD,Pcio Unit,Denominación del proveedor,Detalle Material
0,09.12.2021,-200.00,-182200.0,911.0,LOS GROBO AGROPECUARIA SA,UREA GRANULADA (Granel)
1,29.06.2021,-180.00,-92700.0,515.0,LOS GROBO AGROPECUARIA SA,UREA GRANULADA (Granel)
2,16.09.2021,-120.00,-75360.0,628.0,CARGILL S.A.C.I,UREA GRANULADA (Granel)
3,15.12.2021,-52.36,-55501.6,1060.0,COFCO INTERNATIONAL ARGENTINA,UREA GRANULADA (Granel)
4,01.10.2021,-80.00,-55600.0,695.0,ARECO SEMILLAS S.A.,UREA GRANULADA (Granel)

In [4]:
df_comp.describe()

          Cantidad   Importe en MD    Pcio Unit
count  2466.000000     2466.000000  2466.000000
mean      7.990819     3970.054132   501.601169
std      19.825668     9492.014105   151.795342
min    -265.000000  -182200.000000   307.000000
25%       5.502500     2359.000000   390.000000
50%       7.340000     3550.000000   495.000000
75%       9.545000     4960.000000   600.000000
max     265.000000   182200.000000  1105.000000

In [5]:
df_comp.isna()

,Fe.contab.,Cantidad,Importe en MD,Pcio Unit,Denominación del proveedor,Detalle Material
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
2461,False,False,False,False,False,False
2462,False,False,False,False,False,False
2463,False,False,False,False,False,False
2464,False,False,False,False,False,False
2465,False,False,False,False,False,False

In [7]:
df_comp.isna().sum()

Fe.contab.                    0
   Cantidad                   0
 Importe en MD                0
Pcio Unit                     0
Denominación del proveedor    0
Detalle Material              0
dtype: int64

Plotting the Data

In [8]:
import matplotlib.pyplot as plt

In [9]:
df_comp.Pcio Unit.plot(figsize=(20,5), title = "Precio Fertlizante")

SyntaxError: ignored